*{
    padding: 0; margin: 0; box-sizing: border-box;
}
body{
    height: 100vh;
    padding: 1rem;
}
body > *{
    width: 100%;
}
header{
    height: 100px; width: 100%;
    background-color: blue;
}
main{
    text-align: center;
}
footer{
    height: min(6vh, 4rem);
    background-color: rgb(205, 159, 205);
    display: flex; align-items: center; justify-content: center;
}
img{
    width: 100%;
    height: auto;
}